/* Default e estilizaçoões */

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    margin:0;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

#texto-small {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/* Top */

.div-header{
    display: flex;
    padding: 1em 4em;
    height: 10vh;
    align-items: center;
}
    
#logo {
    height: 3em;
}

/* Middle */

.div-main {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70vh;   
    padding: 0 2em;
}

.div-left, .div-right {
    display: flex;
    flex-direction: column; 
    gap: 1em;
    width: 50%;
    padding: 2em 4em;
}

.div-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 16em;
}

.div-aviso {
    display:flex;
    flex-direction: row;
    align-items: top;
    gap: 0.5em;
    padding: 1em;
}

.div-aviso img {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.div-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1em 0;
    gap: 1em;
}


/* Interação output on-off */


.div-output {
    display:none;
    flex-direction: column;
    width: 100%;
}

#btn-copiar {
    display: none;
}

.div-ilustra {
    display: flex;
    flex-direction: column; 
    align-content:center;
    justify-content: space-between;
    gap: 1em;
}

#ilustra {
    display: block;
    height: 22em;
    max-height: 16em;
}


/* Bottom */

.div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    gap: 1em;
    padding: 2em 0 0 1em;
}

.div-footer p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #121212;
    font-size: 14px;
}

.div-icons {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap: 2em;
    padding: 1em 0;
}

svg {
    width: 2em;
    height: 2em;
}

svg:hover {
    cursor: pointer;
    fill: #0A3871;

}


/* Inputs e outputs */

.input, .output {
    box-sizing: border-box;
    width: 100%;
    height: 16rem;
    padding: 1.5em 1em;
    border: solid 2px #0A3871;
    word-wrap: break-word;
}


.input:disabled {
    border: solid 2px #EFF1FA;
}


/* Botões */ 

#btn-criptografar {
    display: inline-block;
    width: 10em;
    height: 3.5em;
    padding: 0.5em 1em;
    font-size: 14px;
    font-weight: 600;
    color:white;
    background-color: #0A3871;
    border:solid 2px #0A3871;
    border-radius: 4px;
}

#btn-criptografar:hover {
    background-color: #072B61;
    border:solid 2px #072B61;
    ;
}

#btn-criptografar:disabled {
    width: 10em;
    height: 3.5em;
    padding: 0.5em 1em;
    font-size: 14px;
    font-weight: 600;
    color:white;
    background-color: #EFF1FA;
    border:solid 2px #EFF1FA;
    border-radius: 4px;
}

#btn-descriptografar {
    display: inline-block;
    width: 144px;
    height: 3.5em;
    padding: 1em 1em;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #0A3871;
    background-color: white;
    border:solid 2px #0A3871;
    border-radius: 4px;
}

#btn-descriptografar:hover {
    color: #0A3871; 
    background-color: #EFF1FA  ;
    border:solid 2px #0A3871;
}

#btn-criptografar:disabled {
    width: 10rem;
    height: 3.5rem;
    padding: 0.5em 1em;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color:white;
    background-color: #EFF1FA;
    border:solid 2px #EFF1FA;
    border-radius: 4px;
}

#btn-copiar {
    box-sizing:border-box;
    width: auto;
    height: auto;
    border:solid 2px #0A3871;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #0A3871;
    background-color: white;
    border-radius: 4px;
}

#btn-copiar:hover { 
    color: #0A3871; 
    background-color: #EFF1FA  ;
    border:solid 2px #0A3871;
}        


/* Mobile */

@media screen and (max-width: 480px) {

    * {
        font-family: "Inter", sans-serif;
        font-weight:400;
        font-size: 14px;
        color: #121212;
    }
    
    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    
    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
    }



    .div-header {
        display:flex;
        height: 10%;
        justify-content: center;
        padding: 2em 1em 1em 1em;
    }

    .div-main {
        display: flex;
        flex-direction: column;
        height: 78%;
        gap: 1em;
    }

    .div-left, .div-right{
        width: 100%;
        padding: 1em 0;
    }

    .input, .output, .div-aviso, .div-btn, .div-ilustra, .div-footer  {
        width: 100%;
    }

    .div-output {
        display: none;
    }

    .input, .output {
        width: 100%;
        height: 14em;
    }

    .div-btn {
        display: flex;
        flex-direction: row-reverse;
    }

    #btn-criptografar {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.5em;
        padding: 1em 1em;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 0.05rem;
    }

    
    #btn-descriptografar {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.5em;
        padding: 0.1em 1em;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 0.05rem;
    }

    #ilustra {
        display: none;
        height: 18vh;
    }

    .div-ilustra h2, p {
        text-align: center;
    }

    .div-footer {
        height: 6%;
    }

    .div-icons {
        align-items: center;
        height: auto;
    }

    #texto-small {
        font-size: 11px;
        font-weight: 800;
        padding: 0 2em;
    }

    svg, path {
        display:inline-block;
        scale: 0.9
    }

}
