/* Default e estilizaçoões */

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #121212;
    margin:0;
}

body {
    display: flex;
    flex-direction:column;
    height: 100vh;
    width: 100%;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

#texto-small {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 13px;
}

/* Top */

.div-header{
    display: flex;
    padding: 2rem 8rem;
    height: 10vh;
    align-items: center;
}
    

/* Middle */

.div-main {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: 75vh;   
    padding: 0 8rem;
}

.div-left, .div-right {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    width: 50%;
}

.div-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 16rem;
}

.input {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 16rem;
    padding: 1.5rem 1rem;
    border: solid 2px #EFF1FA;
    word-wrap: break-word;
}


.input:disabled {
    border: solid 2px #EFF1FA;
}

.input:focus {
    border: solid 2px #79a5db;
}


.div-aviso {
    display:flex;
    flex-direction: row;
    align-items: top;
    gap: 0.5rem;
    padding: 1rem;
}

.div-aviso img {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.div-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 0;
    gap: 1rem;
}


/* Interação output on-off */


.div-output {
    display:none;
    flex-direction: column;
    width: 100%;
    max-width: 666px;
    word-wrap: break-word;
}


.div-btn-copiar {
        display: none;
        justify-content: right;
}

#btn-copiar {
    display: none;
    margin: 0;
}

.div-ilustra {
    display: flex;
    flex-direction: column; 
    align-content:center;
    justify-content: space-between;
    gap: 1rem;
}

#ilustra {
    display: block;
    height: 22rem;
    max-height: 16rem;
}


/* Bottom */

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0A3871;
    height: 10vh;
    padding: 4rem 8rem 2rem;
}

.div-footer p, a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 14px;
}


.div-footer #logo {
    width: 4rem;
}

.div-icons, .icon {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 2rem;
}

.icon {
    cursor: pointer;
}

.div-texto1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: space-between;
    height: 4.5rem;

}

.div-texto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: end;
    height: 4.5rem;
}

/* Inputs e outputs */



/* Botões */ 

#btn-criptografar {
    display: inline-block;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    color:white;
    background-color: #0A3871;
    border:solid 2px #0A3871;
    border-radius: 4px;
}

#btn-criptografar:hover {
    background-color: #072B61;
    border:solid 2px #072B61;
    ;
}

#btn-criptografar:disabled {
    height: 3.5rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    color:white;
    background-color: #EFF1FA;
    border:solid 2px #EFF1FA;
    border-radius: 4px;
}

#btn-descriptografar {
    display: inline-block;
    height: 3.5rem;
    padding: 1rem 1rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color: #0A3871;
    background-color: white;
    border:solid 2px #0A3871;
    border-radius: 4px;
}

#btn-descriptografar:hover {
    color: #0A3871; 
    background-color: #EFF1FA  ;
    border:solid 2px #0A3871;
}

#btn-criptografar:disabled {
    height: 3.5rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color:white;
    background-color: #EFF1FA;
    border:solid 2px #EFF1FA;
    border-radius: 4px;
}

#btn-copiar {
    display: inline-block;
    margin: 0;
    padding: 0.4rem 1rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    border:solid 2px #0A3871;
    color: #0A3871;
    background-color: white;
    border-radius: 4px;
}
   


/* Mobile */

@media screen and (max-width: 480px) {

    * {
        font-family: "Inter", sans-serif;
        font-weight:400;
        font-size: 14px;
        color: #121212;
    }
    
    body {
        display: flex;
        flex-direction:space-between;
        height: 100vh;
        width: 100%;
    }

    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    
    p {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
    }



    .div-header {
        display:flex;
        justify-content: center;
        min-height: 10%;
        padding: 0rem;
    }

    .div-main {
        display: flex;
        flex-direction: column;
        min-height: 80%;
        gap: 2rem;
        padding: 1rem 1rem 4rem 1rem;

    }

    .div-left, .div-right {
        width: 100%;
    }

    .input, .output, .div-aviso, .div-btn, .div-ilustra {
        width: 100%;
    }

    .input, .output {
        height: 14rem;
    }

    .div-ilustra {
        border: solid 2px #EFF1FA;
        padding: 2rem 0;
    }

    .div-btn {
        display: flex;
        flex-direction: row-reverse;
    }

    #btn-criptografar {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.5rem;
        padding: 1rem 1rem;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 0.05rrem;
    }

    
    #btn-descriptografar {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.5rem;
        padding: 0.1rem 1rem;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 0.05rrem;
    }

    #ilustra {
        display: none;
        height: 18vh;
    }

    .div-ilustra h2, p {
        text-align: center;
    }

    .div-footer {
        min-height: 10%;
        padding: 4rem 2rem 1rem;
    }

    .div-icons {
        gap: 1rem;
    }

    .div-footer #logo {
        display:none;
    }


    #texto-small {
        font-size: 12px;
        font-weight: 600;
    }


}
